.heading {
  font-family: IvyJournal;
  margin: 25px 0;
  white-space: pre-line;
  word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;
}

.h2 {
  font-size: 48px;
  line-height: 66px;
}

@media (max-width: 992px) {
  .h2 {
    font-size: 36px;
    line-height: 50px;
  }
}
